name: "stage deploy"
on:
  workflow_call:
    inputs:
      APP_NAME:
        type: string
        required: true
      IMAGE_REGISTRY:
        type: string
        required: true
      GAR_PROJECT:
        type: string
        required: true
      GAR_REGISTRY:
        type: string
        required: true
      CLUSTER_PROJECT:
        type: string
        required: true
      CLUSTER_NAME:
        type: string
        required: true
      NAMESPACE:
        type: string
        required: true
      HELM_VALUES_PATH:
        type: string
        required: true
      DOCKER_FILE_PATH:
        description: 'path of docker file'
        required: true
        type: string
      GO_VERSION:
        description: 'go version'
        required: false
        type: string
        default: '1.20'

      EXTRA_DEPENDENCIES:
        description: 'enable step to install extra dependencies'
        required: false
        type: boolean
        default: false

      DEPENDENCIES_COMMAND:
        description: 'commands to install extra dependencies'
        required: false
        type: string

      BUILD_COMMAND:
        description: 'go build command'
        required: true
        type: string

      ARTIFACT_PATH:
        description: "path used for build with respect to main.go file"
        required: true
        type: string

      SHA:
        type: string
        required: true

      BUILD_ARGUMENTS:
        description: 'build arguments for DockerFile'
        required: false
        type: string

    secrets:
      PAT:
        description: 'required input'
        required: true
      GAR_KEY:
        description: 'required input'
        required: true



jobs:
  dockerize:
    runs-on: ubuntu-latest
    outputs:
      image: ${{ steps.output-image.outputs.image }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # List of files that are added or modified in the commit
      - id: files
        uses: masesgroup/retrieve-changed-files@v2
      - run: |
          for added_modified_file in ${{ steps.files.outputs.all }}; do
            echo ${added_modified_file}
          done

      - id: sort
        run: |
          readarray -td $'\0' sorted < <(
                    for i in ${{ steps.files.outputs.all }};
                    do     printf '%s %s\0' "${#i}" "$i";
                    done |
                            sort -bz -k1,1n -k2|
                            cut -zd " " -f2-
                    )
          echo "files=`echo ${sorted[@]}`" >> "$GITHUB_OUTPUT"

  update_configmap:
    uses: priyasingh-zs/inventory-func/.github/workflows/update-configmap.yaml@main
    with:
      APP_NAME: order-data
      ENV_FILE_NAME: ./configs/.stage.env
      CLUSTER_PROJECT: modified-fabric-408810
      CLUSTER_NAME: test-dev
      NAMESPACE: test
    secrets:
      DEPLOY_KEY: ${{ secrets.GAR_KEY }}